.about-section {
    background-color: rgb(33 37 41);
    width: 100%;
    padding-bottom: 5rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.img-kitchen img {
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155 155 155);
}
