.about-section {
    background-color: rgb(33 37 41);
    width: 100%;
    padding-bottom: 5rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.img-kitchen img {
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid #f1c40f;
}

.main-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-about h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
}
.content-about p {
    text-align: justify;
    font-size: 1.8rem;
    width: 600px;
}
.content-about p span {
    font-size: 1.9rem;
    color: #f1c40f;
}

@media screen and (max-width: 1157px) {
    .main-about {
        padding: 2%;
    }
    .content-about {
        width: 60%;
    }
    .img-kitchen img {
        width: 300px;
        height: 300px;
        margin-top: 5rem;
        margin-left: 5rem;
    }

    .content {
        width: 100%;
        height: 60px;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        padding-left: 15rem;
    }
}

@media screen and (max-width: 990px) {
    .main-about {
        padding: 1%;
        justify-content: center;
    }
    .content-about {
        width: 50%;
        padding: 2%;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        margin-right: 5rem;
    }
    .img-kitchen img {
        width: 200px;
        height: 200px;
        margin-top: 5rem;
        margin-left: 5rem;
    }
}

@media screen and (max-width: 910px) {
    .main-about {
        padding: 1%;
        justify-content: center;
    }
    .content-about h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .content-about p {
        text-align: justify;
        font-size: 1.4rem;
        width: 400px;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: left;
    }
}

@media screen and (max-width: 727px) {
    .main-about {
        display: block;
        align-items: center;
        justify-content: center;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: left;
    }
}
