.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.contact-description div {
    display: flex;
    flex-direction: row;
    justify-items: left;
    gap: 8px;
    margin-top: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.contact h1 {
    font-size: 4rem;
    margin-top: 10px;
}

.contact-description div:hover {
    color: #f1c40f;
}
