.menu {
    background-color: rgba(68, 69, 40, 0.8);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#title {
    font-size: 2em;
    color: white;
    margin: 0;
}

.menu-conteiner {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 30px;
}

.menu-conteiner img {
    width: 100%;
    height: 200px;
}

.pizza-description {
    background-color: slategrey;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.pizza-description h3 {
    color: #fff708;
    font-size: 1.8em;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.pizza-description h4 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 110px;
    margin-left: 6rem;
}
