.menu {
    background-color: rgba(68, 69, 40, 0.8);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#title {
    font-size: 6rem;
    color: white;
    margin: 0;
}

.menu-conteiner {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 30px;
}

.menu-conteiner img {
    width: 70%;
    height: 110px;
    object-fit: cover;
    padding: 2px;
    margin-left: 35px;
    margin-top: 25px;
}

.pizza-description {
    background-color: rgba(58, 135, 6, 0);
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

    margin-top: 40px;
}

.pizza-description h3 {
    color: whitesmoke;
    font-size: 1.8em;
    margin-bottom: 1rem;
    text-decoration: dotted;
}
.pizza-description h4 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 150px 110px;
    margin-left: 6rem;
}
.pizza-description h4 span {
    font-size: 1.4rem;
    color: #000000;
    text-decoration: underline;
}
.menu-conteiner div {
    background-color: rgba(46, 62, 35, 0.189);
    box-shadow: yellow 0px 0px 10px;
}

.btn-order {
    background-color: #e2dc13e6;
    width: 200px;
    height: 35px;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease-in;
    border-radius: 8px;
    box-shadow: rgb(3, 3, 3) 0px 0px 10px;
}
