/*All import css files*/
@import url("/style/header.css");
@import url("/style/about.css");
@import url("/style/menu.css");
@import url("/style/contact.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/*Reset all style pages*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

/*html style*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
}

/*first-section style*/
.first-section {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
            rgba(29, 29, 29, 0.8),
            rgba(29, 29, 29, 0.8)
        ),
        url("/img/pexels-pizza.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
}
.first-section .main-conteiner {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-section .main-conteiner h1 {
    color: #f1c40f;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.first-section .main-conteiner h2 {
    color: #b5b1a1;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

/*Button style*/
.first-section .main-conteiner .btn button {
    background-color: #f1c40f;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in;
    font-weight: 600;
    margin-top: 5rem;
}

/*Button hover style*/
.first-section .main-conteiner .btn button:hover {
    border: 1px solid #f1c40f;
    background-color: transparent;
    color: #f1c40f;
}

/*Div where the button are*/
.first-section .main-conteiner .btn {
    display: flex;
    width: 480px;
    justify-content: space-between;
}

@media screen and (max-width: 940px) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 40px;
    }
}
@media screen and (max-width: 1000px) {
    .content .list-menu {
        display: none;
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 3px;
        background-color: white;
        margin: 6px auto;
        transition-duration: 0.5s;
    }
    .menu-toggle {
        width: 30px;
        height: 30px;
    }
    .content.on {
        position: fixed;
        width: 100vw;
        height: 100vw;
        background-color: rgba(30, 31, 30, 0.8);
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .content.on .logo {
        display: none;
    }
    .content.on .menu-toggle {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    .content.on .list-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .content.on .list-menu li a {
        font-size: 2rem;
    }
}

.content.on .menu-toggle .one {
    transform: rotate(45deg) translate(5px, -8px);
}
